.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
#hr1{
    height: 1px;
    background-color:blue;
}

#kuva{
    display:inline;
}
#viiva {
    height: 1px;
    background-color: blue;
}
#terve{
    font-size:130px;
}
#pilv{
    font-size:100px;
}
fieldset{
    width: 100px;
    border-color: cornflowerblue;
    background-color: lightgrey;
   
}
main{
    display:flex;

}
aside{
    flex:1;
}
header{
    border: bottom 7px solid
}