header {
    height: 110px;
    background: #7bdff2;
}



h1 {
    color: #fff;
    padding: 22px 0 0 20px;
}



nav {
    width: 400px;
    height: 20px;
    background: #1a759f;
    margin-left: 200px;
    color: #fff;
}



    nav ul {
        margin: 0 0 0 -10px;
    }



    nav li {
        float: left;
        list-style-type: none;
        padding: 0 10px;
    }



section {
    width: 750px;
    height: 800px;
    background: #1a759f;
    margin-top: -20px;
}



h2 {
    color: #fff;
    padding: 10 px 0 0 10px;
}



article {
    width: 750px;
    background: #1a759f;
    color: #fff;
}



    article p {
        padding: 18px;
    }



aside {
    width: 500px;
    height: 818px;
    background: #1a759f;
    float: right;
    margin-top: -19px;
}
.sivu{
    width: 480px;
    padding-left: 20px;
    height: 500px;
}



h3 {
    color: #fff;
    padding: 10px 0 0 10px;
}



aside article {
    width: 220px;
    /*background: #;*/
    color: #fff;
}



footer {
    height: 40px;
    background: #34a0a4;
    margin-top: -16px;
    color: #fff;
}



    footer p {
        padding: 10px 0 0 10px;
    }

body {
    background: #168aad;
}
